{% extends 'base.html' %}{% load static %}

{% block content %}
    <div class="ui tablet computer only padded grid">
        <div class="ui inverted borderless top fixed fluid menu">
            <a class="header item"><img src="{% static 'software_architect_aide/logo.png' %}" style="height: 25px; width: 25px; margin-left: 5px;"/>
                سامانهٔ پشتیبان تصمیم معماری نرم‌افزار</a>
            <div class="right menu">
                <a class="item">تنظیمات</a> <a class="item"><i class="user icon"></i> {{ user.username }}</a>
                <a href="/sign_out" class="item">خروج</a>
            </div>
        </div>
    </div>
    <div class="ui mobile only padded grid">
        <div class="ui top fixed borderless fluid inverted menu">
            <a class="header item">سامانهٔ پشتیبان تصمیم معماری نرم‌افزار</a>
            <div class="right menu">
                <div class="item">
                    <button class="ui icon toggle basic inverted button">
                        <i class="content icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui vertical borderless inverted fluid menu">
                <a class="item">تنظیمات</a> <a class="item"><i class="user icon"></i> {{ user.username }}</a>
                <a href="/sign_out" class="item">خروج</a>
                <div class="ui fitted divider"></div>
            </div>
        </div>
    </div>
    <div class="ui padded grid">
        <div class="three wide tablet only three wide computer only column" id="sidebar">
            <div class="ui borderless fluid text vertical menu">
                <a class="{% if '/dashboard/' == request.path %}active {% endif %}item" href="/dashboard"> مدیریت
                    معماری‌ها</a>
                <div class="ui horizontal divider">
                    نمونه‌گیری معماری
                </div>
                <a class="{% if '/dashboard/architecture/create/upload/' == request.path %}active {% endif %}item" href="{% url 'create_upload' %}">
                    بارگذاری معماری </a>
                <a class="{% if '/dashboard/architecture/create/reference/' == request.path %}active {% endif %}item" href="{% url 'create_reference' %}">
                    ساخت براساس معماری مرجع </a>
                <a class="{% if '/dashboard/architecture/create/manual/' == request.path %}active {% endif %}item" href="{% url 'create_manual' %}">
                    ساخت دستی </a>
                <div class="ui horizontal divider">
                    تحلیل معماری
                </div>
                <a class="{% if '/dashboard/evolution/' == request.path %}active {% endif %}item" href="{% url 'evolution' %}">
                    تکامل معماری</a>
                <a class="{% if '/dashboard/ontospy_report/' == request.path %}active {% endif %}item" href="{% url 'ontospy_report' %}">
                    گزارشات تحلیلی</a>
            </div>
        </div>
        {% block dashboard_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block begin_css %}
    <link href="{% static 'software_architect_aide/css/jquery.pan.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: grayscale;
        }

        #sidebar {
            position: fixed;
            height: 100vh;
            background-color: #f5f5f5;
            padding-top: 68px;
            padding-left: 0;
            padding-right: 0;
        }

        #sidebar .ui.menu > a.item {
            padding: 10px 20px;
            line-height: 20px;
            color: #337ab7;
            border-radius: 0 !important;
            margin-top: 0;
            margin-bottom: 0;
        }

        #sidebar .ui.menu > a.item.active {
            background-color: #337ab7;
            color: white;
            border: none !important;
        }

        #sidebar .ui.menu > a.item:hover {
            background-color: #eee;
            color: #23527c;
        }

        #content {
            padding-top: 56px;
            padding-left: 20px;
            padding-right: 20px;
        }

        #content h1 {
            font-size: 36px;
        }

        #content .ui.dividing.header {
            width: 100%;
        }

        .ui.centered.small.circular.image {
            margin-top: 14px;
            margin-bottom: 14px;
        }

        .ui.borderless.menu {
            box-shadow: none;
            flex-wrap: wrap;
            border: none;
            padding-left: 0;
            padding-right: 0;
        }

        .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
            display: none;
        }
    </style>
{% endblock %}

{% block end_js %}
    <script>
        $(document).ready(function () {
            $(".ui.toggle.button").click(function () {
                $(".mobile.only.grid .ui.vertical.menu").toggle(100);
            });
        });
    </script>

    <script>
        {#Open Modals#}

        function open_modal(id, type) {
            $('.' + type + '_' + id)
                .modal('show');
        }

        {#Open Dropdowns#}
        $('.ui.dropdown')
            .dropdown()
        ;

        {#Radio Buttons#}
        $('.ui.radio.checkbox').checkbox();

        {#  Loading After Submission  #}

        function loading() {
            $('.segment')
                .addClass("loading");
        }

        {#Close Icon For Messages#}
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                ;
            })
        ;

        $('.blurring.dimmable.image').dimmer({
            on: 'hover'
        });

        {#Add Field Button#}
        {% for field in fields %}
            $('#' + '{{ field.0 }}' + '_input a').click(function () {
                $('#' + '{{ field.0 }}' + '_input').append('{% spaceless %}{% include 'dashboard_create_manual_field.html' with placeholder=field.1 name=field.0 %}{% endspaceless %}');
                remove_input()
            });
        {% endfor %}

        $('#comprises a').click(function () {
            $('{% spaceless %}{% include 'dashboard_create_manual_field_comprises.html' %}{% endspaceless %}').insertAfter('#comprises');
            $('.ui.dropdown')
                .dropdown();
            remove_input()
        });

        $('#is_achieved_by a').click(function () {
            $('{% spaceless %}{% include 'dashboard_create_manual_field_is_achieved_by.html' %}{% endspaceless %}').insertAfter('#is_achieved_by');
            $('.ui.dropdown')
                .dropdown();
            remove_input()
        });

        {#Delete Field Button#}

        function remove_input() {
            $('.delete_field').click(function (e) {
                    e.currentTarget.parentNode.remove();
                    e.currentTarget.preventDefault();
                }
            )
            $('.delete_field_two').click(function (e) {
                    e.currentTarget.parentNode.parentNode.parentNode.remove();
                    e.currentTarget.preventDefault();
                }
            )
        }

        $('div.export_{{ number }} form').submit();
        remove_input()
    </script>

    {#  Image Resizer  #}
    <script src="{% static 'software_architect_aide/js/jquery.pan.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".pan").pan();
        })
    </script>
{% endblock %}


