{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">معماری نرم‌افزار</h1>
            </div>

            <div class="row">
                <table class="ui celled padded selectable table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>نام معماری</th>
                        <th>تعداد اکسیوم‌ها</th>
                        <th>تاریخ ایجاد</th>
                        <th>تاریخ به‌روزرسانی</th>
                        <th>فعالیت‌ها</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for architecture in architectures %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ architecture.name }}</td>
                            <td>{{ architecture.axiom_count }}</td>
                            <td>{{ architecture.date_added }}</td>
                            <td>{{ architecture.last_modified }}</td>
                            <td>
                                <button class="ui icon button">
                                    <i class="eye icon"></i>
                                </button>
                                <button class="ui icon button">
                                    <i class="edit icon"></i>
                                </button>
                                <button class="ui icon button delete_item">
                                    <i class="trash icon"></i>
                                </button>
                                <button class="ui icon button">
                                    <i class="download icon"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="full-width">
                    <tr>
                        <th colspan="7">
                            <div id="tables_download_update" class="ui small primary labeled icon button">
                                <i class="refresh icon"></i> به‌روزرسانی
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>

    <div class="ui modal tiny">
        <i class="close icon"></i>
        <div class="header">
            آیا مایل به حذف این معماری هستید؟
        </div>
        <div class="image content">
            <div class="description">
                <p>درصورت حذف این هستان‌شناسی امکان بازیابی آن وجود ندارد.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                انصراف
            </div>
            <div class="ui red danger right labeled icon button">
                بله <i class="trash icon"></i>
            </div>
        </div>
    </div>

    <div class="ui modal tiny">
        <i class="close icon"></i>
        <div class="header">
            گرفتن خروجی و بارگیری هستان‌شناسی
        </div>
        <div class="image content">
            <div class="description">
                <p>فرمت خروجی را انتخاب کنید.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                انصراف
            </div>
            <div class="ui positive right labeled icon button">
                بارگیری <i class="download icon"></i>
            </div>
        </div>
    </div>
{% endblock %}