{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">نمونه‌گیری معماری</h1>
            </div>
            <div class="center aligned row">

                <form class="ui form" method="post" action="{% url 'architecture_create' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label>بارگذاری فایل owl:</label> <input type="file">
                    </div>
                    <div class="field">
                        <label>نام معماری:</label> <input type="text" name="name" placeholder="نام معماری">
                    </div>
                    <button class="ui button" type="submit">ایجاد معماری</button>
                </form>



                {% if success %}
                    <div class="ui positive message">
                        <i class="close icon"></i>
                        <ul class="list">
                            <li>معماری با موفقیت ایجاد شد.</li>
                        </ul>
                    </div>
                {% endif %}

            </div>

            <div class="center aligned row">

                <form class="ui form" method="post" action="{% url 'architecture_create' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label>نام معماری</label> <input type="text" name="name" placeholder="نام معماری">
                    </div>
                    <button class="ui button" type="submit">ایجاد معماری</button>
                </form>

            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>
{% endblock %}