{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <ul>
            <li><a href="/dashboard/report/tree/">نمودار درختی</a></li>
            <li><a href="/dashboard/report/html/">اطلاعات کلی</a></li>
            <li><a href="/dashboard/report/html_multi/">اطلاعات جامع</a></li>
            <li><a href="/dashboard/report/rotating_cluster/">نمودار خوشه ها</a></li>
            <li><a href="/dashboard/report/partition_table/">نمودار افزار</a></li>
        </ul>
        <p>{{ reference_stats }}</p>
        <p>{{ manual_stats }}</p>
    </div>
{% endblock %}