{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">نمونه‌گیری معماری</h1>
            </div>
            <div class="center aligned row">
            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>
{% endblock %}