{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">تکامل معماری نرم‌افزار</h1>
            </div>
            {% if success %}
                <div class="ui positive icon small message">
                    <i class="small inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            تکامل معماری
                        </div>
                        <p>
                            تکامل معماری با موفقیت انجام شد. <a href="{% url 'dashboard' %}"> نمایش مشخصات معماری‌ها</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="center aligned row">
                <form class="ui form" method="post" action="{% url 'evolution' %}?architecture_id={{ architecture.id }}">
                    {% csrf_token %}
                    <div class="ui secondary segments manual">
                        <div class="ui center aligned segment">
                            <div class="ui ordered steps" style="width: 100%;">
                                <div class="{% if current_step == 1 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">حذف دغدغه‌ها</div>
                                        <div class="description">دغدغه را انتخاب کنید.</div>
                                    </div>
                                </div>
                                <div class="{% if current_step == 1 or current_step == 2 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">بررسی روابط</div>
                                        <div class="description">روابط را بررسی کنید.
                                        </div>
                                    </div>
                                </div>
                                <div class="{% if current_step == 1 or current_step == 2 or current_step == 3 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">دغدغه‌ها</div>
                                        <div class="description">دغدغه را وارد کنید.</div>
                                    </div>
                                </div>
                                <div class="{% if current_step == 1 or current_step == 2 or current_step == 3 or current_step == 4 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">تصمیم‌ها</div>
                                        <div class="description">تصمیم‌ها را وارد کنید.
                                        </div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">روابط جدید</div>
                                        <div class="description">روابط را وارد کنید.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui list">
                                                <div class="item">
                                                    <div class="header">نام معماری</div>
                                                    {{ architecture.name }}
                                                </div>
                                                <div class="item">
                                                    <div class="header">تعداد سه‌تایی‌ها</div>
                                                    {{ architecture.triple_count }}
                                                </div>
                                                <div class="item">
                                                    <div class="header">نحوهٔ ساخت</div>
                                                    {{ architecture.get_creation_method_display }}
                                                </div>
                                                <div class="item">
                                                    <div class="header">تاریخ ایجاد</div>
                                                    {{ architecture.date_added }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img alt="تصویر هستان‌شناسی" style="width: 100%;" src="/media/visual/{{ architecture.owl_file }}.png">
                            </div>
                        </div>
                        <input type="hidden" name="step" value="{{ current_step }}">
                        {% if current_step == 3 or current_step == 4 or current_step == 5 %}
                            <div class="ui segment">
                                <div class="sixteen column">
                                    <div class="ui yellow small message">
                                        <i class="close icon"></i>
                                        <div class="header">
                                            اطلاعات حتما باید با زبان انگلیسی وارد شود!
                                        </div>
                                        لطفا اطلاعات خواسته شده در فرم‌ها را با صفحهٔ کلید انگلیسی وارد کنید.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if current_step == 1 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    دغدغه‌ها
                                </div>
                                {% if not architecture_concerns %}
                                    <div class="field">
                                        در این معماری هیچ دغدغه‌ای برای انتخاب وجود ندارد.
                                    </div>
                                {% endif %}
                                {% for architecture_concern in architecture_concerns %}
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input name="architecture_concern[]" value="{{ architecture_concern }}" type="checkbox">
                                            <label>{{ architecture_concern }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif current_step == 2 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    بررسی روابط و انتخاب تصمیم‌های مرتبط برای حذف
                                </div>
                                <table class="ui celled padded selectable table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>دغدغه</th>
                                        <th>تصمیم</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if not concerns %}
                                        <tr>
                                            <th colspan="3">
                                                هیچ دغدغه‌ای را برای حذف انتخاب نکردید.
                                            </th>
                                        </tr>
                                    {% endif %}
                                    {% for concern, decisions in concerns.items %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <div class="field">
                                                    <div class="ui checkbox">
                                                        <input name="delete_concern[]" value="{{ concern }}" type="checkbox">
                                                        <label>{{ concern }}</label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>

                                                {% for decision in decisions %}
                                                    <div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input name="delete_decision[]" value="{{ decision }}" type="checkbox">
                                                                <label>{{ decision }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        {% elif current_step == 3 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    دغدغه‌ها
                                </div>
                                <div class="field" id="quality_input">
                                    <label><a><i class="small add icon"></i></a> ویژگی‌های
                                        کیفی:</label> {% include 'dashboard_create_manual_field.html' with placeholder="ویژگی کیفی" name="quality" %}
                                </div>
                                <div class="field" id="business_input">
                                    <label><a><i class="small add icon"></i></a> نیازمندی‌های
                                        حرفه:</label> {% include 'dashboard_create_manual_field.html' with placeholder="نیازمندی حرفه" name="business" %}
                                </div>
                                <div class="field" id="risk_input">
                                    <label><a><i class="small add icon"></i></a>
                                        مخاطره‌ها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="مخاطره" name="risk" %}
                                </div>
                            </div>
                        {% elif current_step == 4 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    تصمیم‌ها
                                </div>
                                <div class="field" id="tactic_input">
                                    <label><a><i class="small add icon"></i></a>
                                        راهکنش‌ها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="راهکنش" name="tactic" %}
                                </div>
                                <div class="field" id="pattern_input">
                                    <label><a><i class="small add icon"></i></a>
                                        الگوها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="الگو" name="pattern" %}
                                </div>
                            </div>
                        {% elif current_step == 5 %}
                            <div class="ui segment">
                                <div class="ui dividing header" id="comprises"><a><i class="small add icon"></i></a>
                                    روابط دربرگیرندهٔ (comprises)
                                </div>
                                {% include 'dashboard_create_manual_field_comprises.html' %}
                                <div class="ui dividing header" id="is_achieved_by">
                                    <a><i class="small add icon"></i></a> روابط نائل می‌شود توسطِ (isAchievedBy)
                                </div>
                                {% include 'dashboard_create_manual_field_is_achieved_by.html' %}
                            </div>
                        {% endif %}
                    </div>
                    <button class="ui positive button" type="submit" onclick="loading()">
                        {% if current_step == 5 %}ایجاد
                            معماری{% else %}مرحلهٔ بعد{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}