{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">ساخت دستی معماری</h1>
            </div>
            {% if success %}
                <div class="ui positive icon small message">
                    <i class="small inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            ایجاد معماری
                        </div>
                        <p>
                            معماری با موفقیت ایجاد شد. <a href="{% url 'dashboard' %}"> نمایش مشخصات معماری‌ها</a></p>
                    </div>
                </div>
            {% endif %}


            <div class="center aligned row">
                <form class="ui form" method="post" action="{% url 'create_manual' %}">
                    {% csrf_token %}
                    <div class="ui secondary segments manual">
                        <div class="ui center aligned segment">
                            <div class="ui ordered steps">
                                <div class="{% if current_step == 1 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">دغدغه‌ها</div>
                                        <div class="description">دغدغه‌ها را وارد کنید.</div>
                                    </div>
                                </div>
                                <div class="{% if current_step == 1 or current_step == 2 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">تصمیم‌ها</div>
                                        <div class="description">تصمیم‌های معماری را وارد کنید.
                                        </div>
                                    </div>
                                </div>
                                <div class="{% if current_step == 1 or current_step == 2 or current_step == 3 %}active{% else %}completed{% endif %} step">
                                    <div class="content">
                                        <div class="title">روابط دغدغه‌ها و تصمیم‌ها</div>
                                        <div class="description">روابط را مشخص کنید.
                                        </div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">تأیید و ثبت معماری</div>
                                        <div class="description">اطلاعات معماری را تأیید کنید.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="step" value="{{ current_step }}">
                        {% if current_step == 1 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    دغدغه‌ها
                                </div>
                                <div class="field" id="quality_input">
                                    <label><a><i class="small add icon"></i></a> ویژگی‌های کیفی:</label>
                                    {% include 'dashboard_create_manual_field.html' with placeholder="ویژگی کیفی" name="quality" %}
                                </div>
                                <div class="field" id="business_input">
                                    <label><a><i class="small add icon"></i></a> نیازمندی‌های حرفه:</label> {% include 'dashboard_create_manual_field.html' with placeholder="نیازمندی حرفه" name="business" %}
                                </div>
                                <div class="field" id="risk_input">
                                    <label><a><i class="small add icon"></i></a> مخاطره‌ها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="مخاطره" name="risk" %}
                                </div>
                            </div>
                        {% elif current_step == 2 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    تصمیم‌ها
                                </div>
                                <div class="field" id="tactic_input">
                                    <label><a><i class="small add icon"></i></a> راهکنش‌ها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="راهکنش" name="tactic" %}
                                </div>
                                <div class="field" id="pattern_input">
                                    <label><a><i class="small add icon"></i></a> الگوها:</label> {% include 'dashboard_create_manual_field.html' with placeholder="الگو" name="pattern" %}
                                </div>
                            </div>
                        {% elif current_step == 3 %}
                            <div class="ui segment">
                                <div class="ui dividing header" id="comprises"><a><i class="small add icon"></i></a>
                                    روابط دربرگیرندهٔ (comprises)
                                </div>
                                {% include 'dashboard_create_manual_field_comprises.html' %}
                                <div class="ui dividing header" id="is_achieved_by">
                                    <a><i class="small add icon"></i></a> روابط نائل می‌شود توسطِ (isAchievedBy)
                                </div>
                                {% include 'dashboard_create_manual_field_is_achieved_by.html' %}
                            </div>
                        {% elif current_step == 4 %}
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    تأیید و ثبت معماری
                                </div>
                                <div class="field">
                                    <label>نام معماری:</label> <input type="text" name="name" placeholder="نام معماری">
                                </div>
                                <div class="field">
                                    <div onclick="open_modal('1', 'export')" class="ui positive right labeled icon button">
                                        بارگیری <i class="download icon"></i>
                                    </div>
                                </div>
                                <div class="ui modal tiny export_1">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        گرفتن خروجی و بارگیری هستان‌شناسی
                                    </div>
                                    <div class="image content">
                                        <div class="description">
                                            <p>فرمت خروجی را انتخاب کنید.</p>
                                            <div class="ui form">
                                                <div class="field">
                                                    <label>سریالایزر</label>
                                                    <div class="ui selection dropdown">
                                                        <input type="hidden" name="gender">
                                                        <i class="dropdown icon"></i>
                                                        <div class="default text">XML</div>
                                                        <div class="menu">
                                                            <div class="item" data-value="xml">XML</div>
                                                            <div class="item" data-value="turtle">Turtle</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="ui black deny button">
                                            انصراف
                                        </div>
                                        <div class="ui positive right labeled icon button">
                                            بارگیری <i class="download icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <button class="ui button" type="submit" onclick="loading()">
                        {% if current_step == 4 %}ایجاد
                            معماری{% else %}مرحلهٔ بعد{% endif %}</button>
                </form>
            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>
{% endblock %}