<div class="two fields">
    <div class="field">
        <label> الگو:</label> <select name="comprises_pattern[]" class="ui fluid search selection dropdown">
        <option value="">الگو را انتخاب کنید.</option>
        {% for pattern in instances.patterns %}
            <option value="{{ pattern }}">{{ pattern }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <label><a class="ui grey right pointing label">دربرگیرندهٔ است</a></label>
        </div>
    </div>
    <div class="field">
        <label> راهکنش:</label> <select name="comprises_tactic[]" class="ui fluid search selection dropdown">
        <option value="">راهکنش را انتخاب کنید.</option>
        {% for tactic in instances.tactics %}
            <option value="{{ tactic }}">{{ tactic }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <button class="ui red icon button delete_field_two">
                <i class="trash icon"></i>
            </button>
        </div>
    </div>
</div>