{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">معماری نرم‌افزار</h1>
            </div>

            <div class="row">
                <table class="ui celled padded selectable table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>نام معماری</th>
                        <th>تعداد اکسیوم‌ها</th>
                        <th>تاریخ ایجاد</th>
                        <th>تاریخ به‌روزرسانی</th>
                        <th>فعالیت‌ها</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if not architectures %}
                        <tr>
                            <th colspan="7">
                                هنوز هیچ معماری‌ای ایجاد نشده. <a href="{% url 'architecture_create' %}">ساخت معماری</a>
                            </th>
                        </tr>
                    {% endif %}
                    {% for architecture in architectures %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ architecture.name }}</td>
                            <td>{{ architecture.axiom_count }}</td>
                            <td>{{ architecture.date_added }}</td>
                            <td>{{ architecture.last_modified }}</td>
                            <td>
                                <button class="ui icon button" onclick="open_modal({{ forloop.counter }}, 'visualize')">
                                    <i class="eye icon"></i>
                                </button>
                                <button class="ui icon button">
                                    <i class="edit icon"></i>
                                </button>
                                <button class="ui icon button delete_item" onclick="open_modal({{ forloop.counter }}, 'delete')">
                                    <i class="trash icon"></i>
                                </button>
                                <button class="ui icon button" onclick="open_modal({{ forloop.counter }}, 'export')">
                                    <i class="download icon"></i>
                                </button>
                            </td>
                        </tr>

                        <div class="ui modal large visualize_{{ forloop.counter }}">
                            <i class="close icon"></i>
                            <div class="header">
                                نمایش تصویر هستان‌شناسی
                            </div>
                            <div class="image content">
                                <div class="ui fluid image">
                                    <img src="/media/visual/{{ architecture.owl_file }}.png">
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui positive right labeled icon button">
                                    بارگیری <i class="download icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="ui modal tiny delete_{{ forloop.counter }}">
                            <i class="close icon"></i>
                            <div class="header">
                                آیا مایل به حذف معماری هستید؟
                            </div>
                            <div class="image content">
                                <div class="description">
                                    <p>درصورت حذف معماری {{ architecture.name }} امکان بازیابی آن وجود ندارد.</p>
                                </div>
                            </div>
                            <div class="actions">
                                <form action="{% url 'architecture_delete' architecture_id=architecture.id %}" method="POST">
                                <div class="ui black deny button">
                                    انصراف
                                </div>
                                    {% csrf_token %}
                                    <button class="ui red danger right labeled icon button" type="submit">بله <i class="trash icon"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="ui modal tiny export_{{ forloop.counter }}">
                            <i class="close icon"></i>
                            <div class="header">
                                گرفتن خروجی و بارگیری هستان‌شناسی {{ architecture.name }}
                            </div>
                            <div class="image content">
                                <div class="description">
                                    <p>فرمت خروجی را انتخاب کنید.</p>
                                    <div class="ui form">
                                        <div class="field">
                                            <label>سریالایزر</label>
                                            <div class="ui selection dropdown">
                                                <input type="hidden" name="gender"> <i class="dropdown icon"></i>
                                                <div class="default text">XML</div>
                                                <div class="menu">
                                                    <div class="item" data-value="xml">XML</div>
                                                    <div class="item" data-value="turtle">Turtle</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui black deny button">
                                    انصراف
                                </div>
                                <div class="ui positive right labeled icon button">
                                    بارگیری <i class="download icon"></i>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>
                    <tfoot class="full-width">
                    <tr>
                        <th colspan="7">
                            <div id="tables_download_update" class="ui small primary labeled icon button">
                                <i class="refresh icon"></i> به‌روزرسانی
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>

{% endblock %}