<div class="two fields">
    <div class="field">
        <label> دغدغه:</label> <select name="is_achieved_by_concern[]" class="ui fluid search selection dropdown">
        <option value="">یک مخاطره، نیازمندی حرفه یا ویژگی کیفی را انتخاب کنید.</option>
        {% for concern in instances.concerns %}
            <option value="{{ concern }}">{{ concern }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <label><a class="ui grey right pointing label">نائل می‌شود توسطِ</a></label>
        </div>
    </div>
    <div class="field">
        <label> راهکنش:</label> <select name="is_achieved_by_tactic[]" class="ui fluid search selection dropdown">
        <option value="">راهکنش را انتخاب کنید.</option>
        {% for tactic in instances.tactics %}
            <option value="{{ tactic }}">{{ tactic }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <button class="ui red icon button delete_field_two">
                <i class="trash icon"></i>
            </button>
        </div>
    </div>
</div>