{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">نمونه‌گیری معماری</h1>
            </div>
            {% if success %}
                <div class="center aligned row">
                    <div class="ui positive message">
                        <i class="close icon"></i>
                        <ul class="list">
                            <li>معماری با موفقیت ایجاد شد.</li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="center aligned row">
                <form class="ui form" method="post" action="{% url 'architecture_create' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <label>نام معماری:</label> <input type="text" name="name" placeholder="نام معماری">
                    </div>
                    <div class="field">
                        <label>بارگذاری فایل هستان‌شناسی (owl):</label>
                        <div class="ui left icon input">
                                    <i class="file icon"></i> <input type="file" accept=".owl" name="ontology" id="ontology">
                                </div>
                    </div>
                    <button class="ui button" type="submit">ایجاد معماری</button>
                </form>
            </div>

            <div class="center aligned row">
            </div>
            <div class="ui hidden section divider"></div>
        </div>
    </div>
{% endblock %}