<div class="two fields">
    <div class="field">
        <label> دغدغه:</label> <select name="is_achieved_by_concern[]" class="ui fluid search selection dropdown">
        <option value="">یک مخاطره، نیازمندی حرفه یا ویژگی کیفی را انتخاب کنید.</option>
        <option value="C1">نام دغدغه اول</option>
        <option value="C2">نام دغدغه دوم</option>
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <label><a class="ui grey right pointing label">نائل می‌شود توسطِ</a></label>
        </div>
    </div>
    <div class="field">
        <label> راهکنش:</label> <select name="is_achieved_by_tactic[]" class="ui fluid search selection dropdown">
        <option value="">راهکنش را انتخاب کنید.</option>
        <option value="TT1">تاکتیک اول</option>
        <option value="TT2">تاکتیک دوم</option>
    </select>
    </div>
    <div class="ui bottom aligned centered grid">
        <div class="column">
            <button class="ui red icon button delete_field_two">
                <i class="trash icon"></i>
            </button>
        </div>
    </div>
</div>