{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">ساخت دستی معماری</h1>
            </div>
            {% if success %}
                <div class="ui positive icon small message">
                    <i class="small inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            ایجاد معماری
                        </div>
                        <p>
                            معماری با موفقیت ایجاد شد. <a href="{% url 'dashboard' %}"> نمایش مشخصات معماری‌ها</a></p>
                    </div>
                </div>
            {% endif %}

            {% if current_step == 1 %}
                <div class="center aligned row">
                    <form class="ui form" method="post" action="{% url 'create_manual' %}">
                        {% csrf_token %}
                        <div class="ui secondary segments manual">
                            <div class="ui center aligned segment">
                                <div class="ui ordered steps">
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">دغدغه‌ها</div>
                                            <div class="description">دغدغه‌ها را وارد کنید.</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">راهکنش‌ها</div>
                                            <div class="description">راهکنش‌های مورد استفاده را وارد کنید.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">تأیید و ثبت معماری</div>
                                            <div class="description">اطلاعات معماری را تأیید کنید.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="step" value="1">
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    دغدغه‌ها
                                </div>
                                <div class="field" id="quality_input">
                                    <label><a><i class="small add icon"></i></a> ویژگی‌های کیفی:</label>
                                    <div class="ui field action input">
                                        <input type="text" name="quality[]" placeholder="ویژگی کیفی">
                                        <button class="ui red icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="field" id="business_input">
                                    <label><a><i class="small add icon"></i></a> نیازمندی‌های حرفه:</label>
                                    <div class="ui field action input">
                                        <input type="text" name="business[]" placeholder="نیازمندی حرفه">
                                        <button class="ui red icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="field" id="risk_input">
                                    <label><a><i class="small add icon"></i></a> مخاطره‌ها:</label>
                                    <div class="ui field action input">
                                        <input type="text" name="risk[]" placeholder="مخاطره">
                                        <button class="ui red icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit" onclick="loading()">مرحلهٔ بعد</button>
                    </form>
                </div>
            {% elif current_step == 2 %}
                <div class="center aligned row">
                    <form class="ui form" method="post" action="{% url 'create_manual' %}">
                        {% csrf_token %}
                        <div class="ui secondary segments manual">
                            <div class="ui center aligned segment">
                                <div class="ui ordered steps">
                                    <div class="completed step">
                                        <div class="content">
                                            <div class="title">دغدغه‌ها</div>
                                            <div class="description">دغدغه‌ها را وارد کنید.</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">تصمیم‌ها</div>
                                            <div class="description">تصمیم‌های معماری مورد استفاده را وارد کنید.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">تأیید و ثبت معماری</div>
                                            <div class="description">اطلاعات معماری را تأیید کنید.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="step" value="2">
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    تصمیم‌ها
                                </div>
                                <div class="field" id="tactic_input">
                                    <label><a><i class="small add icon"></i></a> راهکنش‌ها:</label>
                                    <div class="ui field action input">
                                        <input type="text" name="tactic[]" placeholder="راهکنش">
                                        <button class="ui red icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="field" id="pattern_input">
                                    <label><a><i class="small add icon"></i></a> الگوها:</label>
                                    <div class="ui field action input">
                                        <input type="text" name="pattern[]" placeholder="الگو">
                                        <button class="ui red icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit" onclick="loading()">مرحلهٔ بعد</button>
                    </form>
                </div>
            {% elif current_step == 3 %}
                <div class="center aligned row">
                    <form class="ui form" method="post" action="{% url 'create_manual' %}">
                        {% csrf_token %}
                        <div class="ui secondary segments manual">
                            <div class="ui center aligned segment">
                                <div class="ui ordered steps">
                                    <div class="completed step">
                                        <div class="content">
                                            <div class="title">دغدغه‌ها</div>
                                            <div class="description">دغدغه‌ها را وارد کنید.</div>
                                        </div>
                                    </div>
                                    <div class="completed step">
                                        <div class="content">
                                            <div class="title">تصمیم‌ها</div>
                                            <div class="description">تصمیم‌های معماری مورد استفاده را وارد کنید.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <div class="content">
                                            <div class="title">تأیید و ثبت معماری</div>
                                            <div class="description">اطلاعات معماری را تأیید کنید.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="step" value="3">
                            <div class="ui segment">
                                <div class="ui dividing header">
                                    تأیید و ثبت معماری
                                </div>
                                <div class="field">
                                    <label>نام معماری:</label> <input type="text" name="name" placeholder="نام معماری">
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit" onclick="loading()">ایجاد معماری</button>
                    </form>
                </div>
            {% endif %}

            <div class="ui hidden section divider"></div>
        </div>
    </div>
{% endblock %}