{% extends 'base_dashboard.html' %}{% load static %}


{% block dashboard_content %}
    <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column" id="content">
        <div class="ui padded grid">
            <div class="row">
                <h1 class="ui huge dividing header">گزارش‌های تحلیلی</h1>
            </div>

            <h2>نمودار درختی</h2>
            <iframe src="/dashboard/report/tree/" title="نمودار درختی" style="height:2000px;width:100%;"></iframe>

            <h2>اطلاعات کلی</h2>
            <iframe src="/dashboard/report/html/" title="اطلاعات کلی " style="height:100%;width:100%;"></iframe>

            <h2>اطلاعات جامع</h2>
            <iframe src="/dashboard/report/html_multi/" title="اطلاعات جامع " style="height:100%;width:100%;"></iframe>

            <h2>نمودار خوشه ها</h2>
            <iframe src="/dashboard/report/rotating_cluster/" title="نمودار خوشه ها " style="height:100%;width:100%;"></iframe>

            <h2>نمودار افزار</h2>
            <iframe src="/dashboard/report/partition_table/" title="نمودار افزار" style="height:100%;width:100%;"></iframe>
        </div>
    </div>
{% endblock %}